.button{
    display: inline-block;
    background-color: #4EEE94;
    box-shadow: 5px 5px 0px black;
    padding: 18px 20px;
    margin-right: 0px;
    transition: transform 125ms linear; 
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.button:hover{
    transform: scale(1.06);
    background-color: #00BFFF;
    color: black;
}