.skill-tec{
    font-family: "Press Start 2P", sans-serif;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.skill-tec .icon{
    margin-right: 25px;
    width: 80px;
    height: 90px;
}

.skill-tec .title{
    margin-left: 22px;
    margin-bottom: 4px;
}